.display
{
    display: none;
}


.section-banner img
{
    
    display: none;

}
.ev-text-style
{
    background-color: rgb(0 0 0 / 33%);
}

.margin
{
    margin-top: 159px;
}
.addtion
{
    margin-top: 107px;   
}
